@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right,#1e32b3, #3c4580);
}

main{
    background-color: #ffffff;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #1e2341b0;
}

h1{
    color: #2b48ff;
    text-align: center;
    text-shadow: 1px 1px 1px #192991ce;
}

h2{
    color: #5461b3;
}

p {
    text-align: justify;
}